@page
@model LoginModel


@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS styles here -->
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                    </div>
                    <div class="card-body">
                        <form id="account" method="post">
                          @*  <h2>Use a local account to log in.</h2>*@
                            

                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-group">
                                <label asp-for="Input.Email">Email</label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password">Password</label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe" class="form-check-label">Remember Me</label>
                            </div>

                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include your custom JavaScript scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
