@model NewForPartialView.Models.Student

<table class="table">
   
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
           
        </tr>
      
    </tbody>
</table>
